# Local development files
.local/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Dependencies and build output
node_modules/
dist/
/data/
*.tsbuildinfo
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite-journal

# Python
.mypy_cache/
.pytest_cache/
__pycache__/
*.py[cod]
.venv/
